<h1>Your order is: <%= pizza_ingredients %> </h1>

<h2>What is your address?</h2>

<form method="post" action="/address">
  <input type="hidden" name="pizza_ingredients" value="<%= pizza_ingredients %>">
  <input type="text" name="address" pattern="[a-zA-Z0-9\s]{3,}">
  <input id="buttons" type="submit" value="Submit Address"><br><br><br>
  <input id="buttons" type = "button" value = "Restart Order" onClick = "location.href='/'">
</form>
