<link rel="stylesheet" href="/style.css">

<h2>What is your address?</h2>

<form method="post" action="/address">
  <input type="hidden" name="pizza_ingredients" value="<%= pizza_ingredients %>">
  <input type="text" name="address" pattern="[a-zA-Z0-9\s]{3,}">
  <input type="submit" value="Submit Address">
</form>
