

<h1>Your order is: <%= pizza_ingredients %> </h1>


<h2>Does this satisfy your taste buds?</h2>

<% pizza_ingredients.each do |item| %>
  <% item.each do |x| %>
      <a href="https://placeholder.com"><img src="https://via.placeholder.com/80"></a>
    <h3><%= x %></h3>
  <% end %>
<% end %>

<form action="/confirm_order" method="post">
    <input type="hidden" name="number_of_pizzas" value="<%= number_of_pizzas %>">
    <input type="hidden" name="pizza_ingredients" value="<%= pizza_ingredients.join(",") %>">
    <input type = "submit" name = "yes" value = "Yes" checked><br>
    <input type="button" value="No" onclick="history.back()"><br><br>
</form>
