
<h1>Your order is:
  <p>Pizza(s):</p>
  <ul>
 <% pizza_ingredients.each do |item| %>
 <li>
  <% item.each do |x| %>
      <%= x %>
  <% end %>
 </li>
<% end %>
</ul></h1>


<h2>Does this satisfy your taste buds?</h2>

<form action="/confirm_order" method="post">
    <input type="hidden" name="number_of_pizzas" value="<%= number_of_pizzas %>">
    <input type="hidden" name="pizza_ingredients" value="<%= pizza_ingredients.join(",") %>">
    <input id="buttons" type = "submit" name = "yes" value = "Yes" checked><br><br>
    <input id="buttons" type="button" value="No" onclick="history.back()"><br><br>
    <input id="buttons" type = "button" value = "Restart Order" onClick = "location.href='/'"><br><br>
</form>
