
<h1>Your order is:</h1>

<% if number_of_pizzas > 1 %>
<%= number_of_pizzas %> Pizzas:
<% else %>
Pizza:
<% end %>
  <% counter = 0 %>
  <% pizza_ingredients.join(", ").split(", ").each do |item| %>
        <% if item.include?("small")  %>
        <% counter += 1 %>
        <% break if counter == 2 %>
        <% end %>
        <%= item %>
  <% end %>


<h2>Does this satisfy your taste buds?</h2>

<form action="/confirm_order" method="post">
    <input type="hidden" name="number_of_pizzas" value="<%= number_of_pizzas %>">
    <input type="hidden" name="pizza_ingredients" value="<%= pizza_ingredients.join(",") %>">
    <input id="buttons" type = "submit" name = "yes" value = "Yes" checked><br><br>
    <input id="buttons" type="button" value="No" onclick="history.back()"><br><br>
    <input id="buttons" type = "button" value = "Restart Order" onClick = "location.href='/'"><br><br>
</form>
