<link rel="stylesheet" href="/style.css">

<h1>Your order is:</h1>

<h2>Do you want to change any ingredients?</h2>

<form action="/confirm_order" method="post">


    <input type="hidden" name="pizza_ingredients" value="<%= pizza_ingredients.join(", ") %>">
    <input type="submit" value="Continue to Delivery or Take-Out">
  </form>
