

<h2>Delivery or Take-Out?</h2>

<div class="delivery">
  <h2>Is this for delivery or take-out?</h2>
    <form method="post" action="/delivery">
      <input type="hidden" name="pizza_ingredients" value="<%= pizza_ingredients %>">
      <input type="radio" name="delivery_option" value="delivery" checked> Delivery<br>
      <input type="radio" name="delivery_option" value="take out"> Take-Out<br>
      <input type="submit" value="Submit">
    </form>
</div>
