<h2>Do you want to add another pizza or continue with your order?</h2>

<div class="delivery">
    <form method="post" action="/delivery">
      <input type="hidden" name="new_pizza" value="<%= new_pizza %>">
      <input type="hidden" name="number_of_pizzas" value="<%= number_of_pizzas %>">
      <input type="hidden" name="pizza_list" value="<%= pizza_list %>">
      <input type="radio" name="delivery_option" value="delivery" checked> Delivery<br><br>
      <input type="radio" name="delivery_option" value="take out"> Take-Out<br><br>
      <input type="radio" name="delivery_option" value="add pizza"> Add Another Pizza!<br><br>
      <input id="buttons" type="submit" value="Submit"><br><br>
      <input id="buttons" type = "button" value = "Restart Order" onClick = "location.href='/'">
    </form>
</div>
