<div class="delivery">
  <h2>Is this for delivery or take-out?</h2>
    <input type="radio" name="delivery" value="delivery" checked> Delivery<br>
    <input type="radio" name="delivery" value="take out"> Take-Out<br>
</div>
