
<h1>Final Order</h1>
Pizza(s)<br>

<% ary = [] %>
<% ary2 = [] %>
<% x = 0 %>
<% pizza_counter = 1 %>
<% new_pizza = pizza_list.split(",") %>
<% new_pizza.delete_at(0) %>
<% new_pizza.each_with_index do |item, i| %>
  <% ((ary = []) && (pizza_counter += 1)) if ary2.include?(ary) %>
  <% if (item == " small" || item == " medium" || item == " large" || item == " xlarge") && (ary != []) && (!ary2.include?(ary)) %>
      <% ary.insert(0, pizza_counter.to_s + " pizzas with") %>
      <% ary2[x] = ary %>
      <% ary = [] %>
      <% x += 1 %>
      <% pizza_counter = 1 %>
      <% ary << item %>
    <% else %>
      <% ary << item %>
    <% end %>
    <% ary.insert(0, pizza_counter.to_s + " pizza(s) with") if (item == new_pizza.last) && (!ary2.include?(ary)) %>
      <% ary2[x] = ary if item == (new_pizza.last) && (!ary2.include?(ary)) %>
<% end %>
<% ary2.each do |pizzas| %>
  <ul>
    <% pizzas.each do |ingredient| %>
    <li><%= ingredient %></li>
    <% end %>
  </ul>
<% end %>

<% if address %>
<br><br>Address: <%= address %><br>
<% end %>

<br><br>Total: $<%= total %>.00<br><br>

<input id="buttons" type = "button" value = "Restart Order" onClick = "location.href='/'">
