
<h1>Final Order</h1>
<h2>Pizza: <%= pizza_ingredients %><br>
<% if address %>
Address: <%= address %><br>
<% end %>
Total: <%= total %></h2><br><br>

<input id="buttons" type = "button" value = "Restart Order" onClick = "location.href='/'">
