
<h1>Final Order</h1>
Pizza:
  <% pizza_ingredients.split(",").each do |item| %>
      <% if item.include?("small") || item.include?("medium") || item.include?("large") || item.include?("xlarge") %>
      <br><br>
      <% end %>
      <%= item %>
    <% end %>

<% if address %>
<br><br>Address: <%= address %><br>
<% end %>
<br><br>Total: $<%= total %>.00<br><br>

<input id="buttons" type = "button" value = "Restart Order" onClick = "location.href='/'">
