<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/style.css">

  <header>
    <h1>Alan's Pizza Palace</h1>
  </header>
    <body>
      <form method = 'post' action = '/home'><br>
        <h2>Select your size.</h2>

        <div class="size">
          <input type="checkbox" name="size" value="small" checked> Small<br>
          <input type="checkbox" name="size" value="medium"> Medium<br>
          <input type="checkbox" name="size" value="large"> Large<br>
          <input type="checkbox" name="size" value="xlarge"> Extra-Large<br>
          <input type="submit" value="Submit">
        </div>






      </form>






    </body>


</html>
