
<form method = 'post' action = '/home'><br>

  <div class="select">
    <h2>Select your size!</h2>
      <a href="https://placeholder.com"><img src="https://via.placeholder.com/80"></a><br>
        <input type="radio" name="size" value="small" checked> Small<br>
        <input type="radio" name="size" value="medium"> Medium<br>
        <input type="radio" name="size" value="large"> Large<br>
        <input type="radio" name="size" value="xlarge"> Extra-Large<br>
  </div>

  <div class="select">
    <h2>Select your crust type!</h2>
      <a href="https://placeholder.com"><img src="https://via.placeholder.com/80"></a><br>
      <input type="radio" name="crust" value="regular" checked> Regular<br>
      <input type="radio" name="crust" value="thin"> Thin<br>
      <input type="radio" name="crust" value="deep dish"> Deep Dish<br>
  </div>

  <div class="select">
    <h2>Select your sauce!</h2>
    <a href="https://placeholder.com"><img src="https://via.placeholder.com/80"></a><br>
      <input type="radio" name="sauce" value="marinara" checked> Marinara<br>
      <input type="radio" name="sauce" value="white sauce"> White Sauce<br>
      <input type="radio" name="sauce" value="barbecue sauce"> Barbecue Sauce<br>
  </div>

  <div class="select">
    <h2>Select your meat(s)!</h2>
      <a href="https://placeholder.com"><img src="https://via.placeholder.com/80"></a><br>
      <input type="checkbox" name="meats[]" value="bacon" checked> Bacon</input><br>
        <input type="checkbox" name="meats[]" value="sausage"> Sausage</input><br>
        <input type="checkbox" name="meats[]" value="ham"> Ham</input><br>
        <input type="checkbox" name="meats[]" value="chicken"> Chicken</input><br>
        <input type="checkbox" name="meats[]" value="anchovies"> Anchovies</input><br>
  </div>

  <div class="select">
    <h2>Select your veggie(s)!</h2>
      <a href="https://placeholder.com"><img src="https://via.placeholder.com/80"></a><br>
        <input type="checkbox" name="veggies[]" value="onions" checked> Onions</input><br>
        <input type="checkbox" name="veggies[]" value="peppers"> Peppers</input><br>
        <input type="checkbox" name="veggies[]" value="banana peppers"> Banana Peppers</input><br>
        <input type="checkbox" name="veggies[]" value="tomatoes"> Tomatoes</input><br>
        <input type="checkbox" name="veggies[]" value="olives"> Olives</input><br>
  </div>

    <p>How many pizzas would you like?</p>
    <input type="number" name="number_of_pizzas" value="1" min="1" max="10"><br>
    <p><input type="radio" name="order_choice" value="Continue to Confirm Order!" checked> Continue to Confirm Order!</p>
    <p><input type="radio" name="order_choice" value="Submit and Make Another Pizza"> Submit and Make Another Pizza!</p><br>
    <input id="buttons" type="submit" value="Submit"><br><br>
    <input id="buttons" type = "button" value = "Restart Order" onClick = "location.href=location.href"?><br><br>


</form>
