<!DOCTYPE html>
<html>
  <header>
    <h1>Alan's Pizza Palace</h1>
  </header>
    <body>
      <h2>Select your size.</h2>
        <input type="checkbox" name="small" value="small" checked> Small<br>
        <input type="checkbox" name="medium" value="medium"> Medium<br>
        <input type="checkbox" name="large" value="large"> Large<br>
        <input type="checkbox" name="xlarge" value="xlarge"> Extra-Large














    </body>


</html>
