
<form method = 'post' action = '/home'><br>

  <div class="select">
    <h2>Select your size!</h2>
      <label for="small">
        <img src="/pics/small.jpeg"><br>
          <input id="small" type="radio" name="size" value="small" checked> Small<br><br>
      </label>
      <label for="medium">
        <img src="/pics/medium.jpeg"><br>
          <input id="medium" type="radio" name="size" value="medium"> Medium<br><br>
      </label>
      <label for="large">
        <img src="/pics/large.jpeg"><br>
          <input id="large" type="radio" name="size" value="large"> Large<br><br>
      </label>
      <label for="xlarge">
        <img src="/pics/xlarge.jpeg">
          <input id="xlarge" type="radio" name="size" value="xlarge"> Extra-Large<br><br>
      </label>
  </div>

  <div class="select">
    <h2>Select your crust type!</h2>
      <label for="regular">
        <img src="/pics/regular.jpeg"><br>
          <input id="regular" type="radio" name="crust" value="regular" checked> Regular<br><br>
      </label>
      <label for="thin">
        <img src="/pics/thin.jpeg"><br>
          <input id="thin" type="radio" name="crust" value="thin"> Thin<br><br>
      </label>
      <label for="deep_dish">
        <img src="/pics/deep_dish.jpeg"><br>
          <input id="deep_dish" type="radio" name="crust" value="deep dish"> Deep Dish<br><br>
      </label>
  </div>

  <div class="select">
    <h2>Select your sauce!</h2>
      <label for="marinara">
        <img src="/pics/marinara.jpeg"><br>
          <input id="marinara" type="radio" name="sauce" value="marinara" checked> Marinara<br><br>
      </label>
      <label for="white_sauce">
        <img src="/pics/white_sauce.jpeg"><br>
          <input id="white_sauce" type="radio" name="sauce" value="white sauce"> White Sauce<br><br>
      </label>
      <label for="bbq_sauce">
        <img src="/pics/bbq_sauce.jpeg"><br>
          <input id="bbq_sauce" type="radio" name="sauce" value="barbecue sauce"> Barbecue Sauce<br><br>
      </label>
  </div>

  <div class="select">
    <h2>Select your meat(s)!</h2>
      <label for="bacon">
        <img src="/pics/bacon.jpeg"><br>
          <input id="bacon" type="checkbox" name="meats[]" value="bacon" checked> Bacon</input><br><br>
      </label>
      <label for="sausage">
        <img src="/pics/sausage.jpeg"><br>
          <input id="sausage" type="checkbox" name="meats[]" value="sausage"> Sausage</input><br><br>
      </label>
      <label for="ham">
        <img src="/pics/ham.jpeg"><br>
          <input id="ham" type="checkbox" name="meats[]" value="ham"> Ham</input><br><br>
      </label>
      <label for="chicken">
        <img src="/pics/chicken.jpeg"><br>
          <input id="chicken" type="checkbox" name="meats[]" value="chicken"> Chicken</input><br><br>
      </label>
      <label for="anchovies">
        <img src="/pics/anchovies.jpeg"><br>
          <input id="anchovies" type="checkbox" name="meats[]" value="anchovies"> Anchovies</input><br><br>
      </label>
  </div>

  <div class="select">
    <h2>Select your veggie(s)!</h2>
    <label for="onions">
      <img src="/pics/onions.jpeg"><br>
        <input id="onions" type="checkbox" name="veggies[]" value="onions" checked> Onions</input><br><br>
    </label>
    <label for="peppers">
      <img src="/pics/peppers.jpeg"><br>
        <input id="peppers" type="checkbox" name="veggies[]" value="peppers"> Peppers</input><br><br>
    </label>
    <label for="banana_peppers">
      <img src="/pics/banana_peppers.jpeg"><br>
        <input id="banana_peppers" type="checkbox" name="veggies[]" value="banana peppers"> Banana Peppers</input><br><br>
    </label>
    <label for="tomatoes">
      <img src="/pics/tomatoes.jpeg"><br>
        <input id="tomatoes" type="checkbox" name="veggies[]" value="tomatoes"> Tomatoes</input><br><br>
    </label>
    <label for="olives">
      <img src="/pics/olives.jpeg"><br>
        <input id="olives" type="checkbox" name="veggies[]" value="olives"> Olives</input><br><br>
    </label>
  </div>

    <p>How many pizzas would you like?</p><br>
    <input type="hidden" name="pizza_ingredients" value="<%= pizza_ingredients %>">
    <input type="number" name="number_of_pizzas" value="1" min="1" max="18" required><br><br>
    <input id="buttons" type="submit" value="Submit"><br><br>
    <input id="buttons" type = "button" value = "Restart Order" onClick = "location.href=location.href"?><br><br>

</form>
