<!DOCTYPE html>
  <html>

    <head>
      <h1>Alan's Pizza Palace (work in progress)</h1>
      <link rel="stylesheet" href="/style.css">
    </head>

      <body>

        <%= yield %>

      </body>

  </html>
