html {
  background: url('/pics/giphy_2.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: auto;
  padding: 0;
  letter-spacing: 2px;
}

h1 {
  color: black;
  font-size: 50px;
}

input {
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

#buttons{
  border: none;
  box-shadow: 0 8px black;
}

#buttons:hover {background-color: red}

#buttons:active {
  background-color: red;
  box-shadow: 0 4px black;
  transform: translateY(3px);
}

input[type="radio"] {transform: scale(2);}

input[type="checkbox"] {transform: scale(2);}
